html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1647px;
  margin-top: 95px;
  margin-left: 166px;
  margin-right: 125px;

  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #486958;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 271px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  padding-top: 21px;
  padding-bottom: 21px;

  font: inherit;
  font-weight: bold;
  color: white;

  text-decoration: none;
  border: none;
  border-radius: 20px;
  background-color: #58a9a5;
}

.button:hover {
  background-color: #63ddd7;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.main-header-logo {
  display: flex;
  align-items: center;
}

.logotype-word {
  margin-left: 20px;
}
.site-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-size: 25px;
  line-height: 37px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  margin-right: 86px;
}

.site-navigation :last-child {
  margin-right: 0;
}

.site-navigation-link {
  color: #404242;
}

.site-navigation-link:hover {
  color: #63ddd7;
}

.site-navigation-link:visited {
  color: #94a8a7;
}

.site-navigation-link-active {
  color: #58a9a5;
  border-bottom: 4px solid #fec62d;
  font-weight: bold;
}

.authentication {
  list-style: none;
  padding: 0;
  margin: 0;
}

.entry-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.entry-overview-description {
  display: flex;
  height: 720px;
  flex-direction: column;
  justify-content: space-between;
}

.entry-overview-description img {
  width: 833.87px;
  height: 782px;
}
.entry-overview h2 {
  width: 674px;

  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  padding: 0;
  margin: 0;

  color: #1c2323;
}

.entry-overview p {
  width: 743px;

  color: #404242;
  padding: 0;
  margin: 0;
}

.entry-overview-link:hover {
  color: #63ddd7;
  text-decoration-line: underline;
}

.workflow-overview {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.workflow-overview-background {
  display: flex;
  margin-bottom: 150px;
}

.workflow-overview-background-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 549px;
  height: 350px;

  background: #ccf0e6;
}
.workflow-overview-links {
  width: 328px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.workflow-overview-background-description p {
  width: 328px;
  height: 120px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #486958;
}
.workflow-overview h2 {
  padding: 0;
  margin: 0;

  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;

  color: #1c2323;
}

.workflow-overview-top-text {
  text-align: center;

  color: #404242;
}

.workflow-overview a {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  color: #486958;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.workflow-overview-addition {
  display: flex;
}

.workflow-overview-addition-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 900px;
  margin-left: 150px;
}
.workflow-overview-addition h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 40px;
  line-height: 60px;

  width: 487px;
  height: 180px;

  color: #1c2323;
}

.workflow-overview-addition p {
  margin: 0;
  font-weight: 500;

  width: 708px;
  height: 225px;

  color: #486958;
}

.projects-overview {
  padding-bottom: 80px;
}

.projects-overview h2 {
  margin: 0;

  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;

  text-align: center;

  color: #1c2323;
}

.projects-overview-title {
  font-size: 30px;
  line-height: 45px;

  text-align: center;

  margin-bottom: 160px;

  color: #404242;
}
.projects-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1647px;
  padding: 0;
  margin: 0;

  margin-bottom: 100px;

  list-style: none;
}

.projects-list h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;

  margin: 0;

  color: #58a9a5;
}
.projects-list p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 35px;

  width: 450px;

  color: #486958;
}

.project-list-addition {
  display: flex;
  justify-content: space-between;
  
}

.project-list-addition-description {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 997px;
  height: 700px;

  background: #CCF0E6;
}

.project-list-middle-item p {
  margin-bottom: 0;
}

.projects-progress-list {
  padding: 0;
  margin: 0;
  margin-bottom: 110px;
  display: flex;
  width: 780px;
}

.projects-progress-list :last-child {
  margin: 0;
  padding: 0;
}

.projects-progress-list li {
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 204px;
  margin-right: 107px;
}

.projects-progress-list p {
  font-weight: 600;

  color: #58a9a5;
}

.projects-progress-list p:hover,
.projects-progress-list p:hover b {
  color: #1f736f;
}

.projects-progress-list p:before {
  content: url("../images/icons/logo-pic.svg");
}

.projects-progress-list p:hover:before {
  content: url("../images/icons/logo-pic-hovered.svg");
}

.projects-progress-list b {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;

  color: #58a9a5;
}

.projects-list-quote {
  width: 780px;

  font-weight: 500;
  font-size: 25px;
  line-height: 37px;

  color: #486958;
}

.projects-list-quote-author {
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;

  color: #58a9a5;
}

.projects-list-quote-author:before {
  font-style: italic;
  content: "- ";
}

.appointment {
  display: flex;
  justify-content: space-between;
}

.appointment h2 {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  margin: 0;
  padding: 0;

  color: #1c2323;
}

.appointment p {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;

  width: 398px;
  height: 76px;

  margin: 0;
  padding: 0;


  color: #486958;
}

.appointment-form {
  width: 1110px;
  height: 450px;

  border: 2px solid black;
  padding: 57px 54px 54px 35px;
}

.appointment-item {
  display: flex;
  flex-direction: column;
}
.submit-button {
  inherits: button;
}
.appointment-form input {
  width: 1000px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;

  border-bottom: 1px solid #000000;
}
.appointment-form input:focus {
  font-style: inherit;
  font-weight: 500;
  font-size: 25px;
  color: rgb(9, 37, 36);
  outline: none;
}
.submit {
  width: 100px;
}
.appointment-form input::placeholder {
  font-style: inherit;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  opacity: 1;

  color: #486958;
}

.main-footer h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;

  text-transform: uppercase;

  color: #156963;
}

.contact-list {
  list-style: none;
}

.contact-list p {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;

  color: #333333;
}

.contact-list a {
  font-family: "Work Sans", Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;

  text-decoration-line: underline;

  color: #4f4f4f;
}

.contact-list a:hover {
  color: #63ddd7;
}

.contact-list a:visited {
  color: #94a8a7;
}
